<h1>Destination Selector</h1>
<div class="home-page-link">
    <%= link_to 'See all locations', destinations_path %>
</div>
<div class="home-page-link">
    <%= link_to 'Get random', select_path %>
</div>